.small-landing {
  background-image: url('https://demo.themefisher.com/vixcon/images/bg/cta-bg.jpg');
  background-attachment: fixed; 
  background-size: cover;
  z-index: 1;
  position: relative;
  &:before {
    @extend %before;
    width: 100%;
    height: 100%;
    background-color: #4125dd;
    @include opacity(.9);
    z-index: -1;
    display: block;
  }
  .container {
    padding-top: $marginTop;
    padding-bottom: $marginTop;
    .box {
      h1 {
        color: white;
        font-weight: $bold - 200;
        font-size: 50px;
        position: relative;
        &:before {
          @extend %before;
          width: 100px;
          height: 6px;
          background-color: white;
          left: 50%;
          transform: translateX(-50%);
          top: 74px;
        }
      }
      .link {
        li {
          color: white;
          font-weight: $bold - 400;
          cursor: pointer;
          transition: .2s;
          &:hover {
            color: $pink;
          }
          &.slash {
            &:hover {
              color: white;
            }
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}