// Colors
$blue: #4125dd;
$pink: #ff007a;
$black: #111111;
$lightBlue: #f8f9fa;

// Fonts Weight
$bold: 900;
$semibold: 600;

// Fonts Size
$smallSize: 15px;
$normalSize: 18px;

// Padding
$paddingTop: 7rem;
$marginTop: 4.8rem;

// Loop
$eachImages: ('https://demo.themefisher.com/vixcon/images/teams/s-1.jpg': 1, 'https://demo.themefisher.com/vixcon/images/teams/s-2.jpg': 2, 'https://demo.themefisher.com/vixcon/images/teams/s-6.jpg': 3, '/Html/Images/Face (3).PNG':4, '/Html/Images/Face (6).jpg':5, '/Html/Images/Face (6).PNG':6);
