footer.text-white
  .container.col-10
    .row
      .col-12.col-xl-5
        .box
          .logo.pb-3
            img(class='img-fluid' src='https://demo.themefisher.com/vixcon/images/logo.png' alt='This Is Logo')
          p.sm I Hope You Injoy In my Simple Website And Also Don't Forget To Subscribe And To Contact With Me Enim minim veniam quis nostrud exercitation ullamco.
          p.email email: #[span.text-white KhaledMabrouki@gmail.com]
          p.phone phone: #[span.text-white +54 356 945234]
      .col-12.col-md-6.col-lg-6.col-xl-3.pt-lg-4.pt-md-4.pt-sm-4.pt-xs-4.pt-xl-0.pt-xxl-0
        .box
          h2.text-white website links
          ul.list-unstyled.text-white.ul-page
            li(data-page='/Html/dist/Home.html') #[i.fa-solid.fa-angle-right.pe-1] #[a(src='/Html/dist/Home.html') home]
            li(data-page='/Html/dist/About.html') #[i.fa-solid.fa-angle-right.pe-1] #[a(src='/Html/dist/About.html') about]
            li(data-page='/Html/dist/Blog.html') #[i.fa-solid.fa-angle-right.pe-1] #[a(src='/html/dist/Blog.html') blog]
            li(data-page='/Html/dist/Login.html') #[i.fa-solid.fa-angle-right.pe-1] #[a(src='/html/dist/Login.html') login]
            li(data-page='/Html/dist/Speakers.html') #[i.fa-solid.fa-angle-right.pe-1] #[a(src='/html/dist/Speakers') speakers]
            li(data-page='/Html/dist/Contact.html') #[i.fa-solid.fa-angle-right.pe-1] #[a(src='/html/dist/Contact.html') contact]
      .col-12.col-md-6.col-lg-6.col-xl-3.pt-lg-4.pt-md-4.pt-sm-4.pt-xs-4.pt-xl-0.pt-xxl-0
        .box
          h2.text-white the company
          ul.list-unstyled.text-white
            li #[i.fa-solid.fa-angle-right.pe-1] #[a(src='#') site map]
            li #[i.fa-solid.fa-angle-right.pe-1] #[a(src='#') legal]
            li #[i.fa-solid.fa-angle-right.pe-1] #[a(src='#') agen admin]
            li #[i.fa-solid.fa-angle-right.pe-1] #[a(src='#') privaci policy]
            li #[i.fa-solid.fa-angle-right.pe-1] #[a(src='#') careeres]
      .social-media
        ul.ul-page.list-unstyled
          li(class='rounded-pill' data-page='https://www.facebook.com') #[a(href='https://www.facebook.com')] #[i.fa-brands.fa-facebook]
          li(class='rounded-pill' data-page='https://www.instagram.com') #[a(href='https://www.facebook.com')] #[i.fa-brands.fa-instagram]
          li(class='rounded-pill' data-page='https://www.twitter.com') #[a(href='https://www.facebook.com')] #[i.fa-brands.fa-twitter]
          li(class='rounded-pill' data-page='https://www.linkedin.com') #[a(href='https://www.facebook.com')] #[i.fa-brands.fa-linkedin]
    .end.text-center
      h5 made with #[i.fa-solid.fa-heart] by Khaled Mabrouki