extends home
block Title
  title VixCon. | schedule
block Sections
  +small_landing('Schedule','schedule','schedule')
  .schedule
    .container.col-10
      +main_title_1('schedule', 'topic discussion', 'Accusantium provident suscipit dicta magni dolor deserunt nam obcaecati non veritatis optio.')
      .shuffle
        ul.list-unstyled
          li(data-display='.topic-1')
            h2 day 1
            p.sm 13 nov, 2022 [08.00pm-18.00am]
          li(class='active' data-display='.topic-2')
            h2 day 2
            p.sm 07 april, 2019 [14.00pm-16.00am]
          li(data-display='.topic-3')
            h2 day 3
            p.sm 28 may, 2018 [20.00pm-23.00am]
      .topics
        .topic-1
          ul
            li
              .date
                h4 9.00am
              .text
                h3 Introduction of material Design
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=1')
            li
              .date
                h4 12.00am
              .text
                h3 markting matter in Design pettern
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=2')
            li
              .date
                h4 4.00am
              .text
                h3 Cultures of Creativity
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=3')
            li
              .date
                h4 22.00am
              .text
                h3 launch break
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=4')
        .topic-2.topic-show
          ul
            li
              .date
                h4 8.00am
              .text
                h3 make our cleints happy with ? 
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=5')
            li
              .date
                h4 13.00am
              .text
                h3 supermarket include everything!
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=6')
            li
              .date
                h4 23.00am
              .text
                h3 animal mesuam
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=7')
            li
              .date
                h4 11.00am
              .text
                h3 breakpoint
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=8')
        .topic-3
          ul
            li
              .date
                h4 9.00am
              .text
                h3 Introduction of material Design
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=9')
            li
              .date
                h4 12.00am
              .text
                h3 markting matter in Design pettern
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=10')
            li
              .date
                h4 9.00am
              .text
                h3 Cultures of Creativity
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=11')
            li
              .date
                h4 9.00am
              .text
                h3 launch break
                p Doloribus veritatis, placeat, laborum amet
                  | voluptates cupiditate sapiente, reiciendis nemo recusandae quo mollitial.
              .sm-img
                img(class='rounded-circle' src='https://picsum.photos/80/80?random=12')
  .nothing.mb-5.pb-5.mt-5.pt-3
