extends Home
block Title
  title VixCon. | speakers
block Sections
  +small_landing('Speakers', 'Speakers', 'Speakers')
  .speakers-2
    .container.col-10
      +main_title_1('speakers', "who're speakering", 'Accusantium provident suscipit dicta magni dolor deserunt nam obcaecati non veritatis optio.')
      .row.text-center
        .col-12.col-md-6.col-xl-4
          .tank.tank-1
            .box-img.rounded-pill
              .social-media
                ul.list-unstyled
                  li 
                    a(href='https://www.facebook.com') #[i.fa-brands.fa-facebook]
                  li 
                    a(href='https://www.instagram.com') #[i.fa-brands.fa-instagram]
                  li
                    a(href='https://www.twitter.com') #[i.fa-brands.fa-twitter]
            .descreption
              h5 joe marten
              p.sm Software Engeneering
        .col-12.col-md-6.col-xl-4
          .tank.tank-2
            .box-img.rounded-pill
              .social-media
                ul.list-unstyled
                  li 
                    a(href='https://www.facebook.com') #[i.fa-brands.fa-facebook]
                  li 
                    a(href='https://www.instagram.com') #[i.fa-brands.fa-instagram]
                  li
                    a(href='https://www.twitter.com') #[i.fa-brands.fa-twitter]
            .descreption
              h5 Abo Hlal
              p.sm PHP Developer
        .col-12.col-md-6.col-xl-4
          .tank.tank-3
            .box-img.rounded-pill
              .social-media
                ul.list-unstyled
                  li 
                    a(href='https://www.facebook.com') #[i.fa-brands.fa-facebook]
                  li 
                    a(href='https://www.instagram.com') #[i.fa-brands.fa-instagram]
                  li
                    a(href='https://www.twitter.com') #[i.fa-brands.fa-twitter]
            .descreption
              h5 hatab marcos
              p.sm UI design
        .col-12.col-md-6.col-xl-4
          .tank.tank-4
            .box-img.rounded-pill
              .social-media
                ul.list-unstyled
                  li 
                    a(href='https://www.facebook.com') #[i.fa-brands.fa-facebook]
                  li 
                    a(href='https://www.instagram.com') #[i.fa-brands.fa-instagram]
                  li
                    a(href='https://www.twitter.com') #[i.fa-brands.fa-twitter]
            .descreption
              h5 Hakim Dodo
              p.sm Back-end Developer
        .col-12.col-md-6.col-xl-4
          .tank.tank-5
            .box-img.rounded-pill
              .social-media
                ul.list-unstyled
                  li 
                    a(href='https://www.facebook.com') #[i.fa-brands.fa-facebook]
                  li 
                    a(href='https://www.instagram.com') #[i.fa-brands.fa-instagram]
                  li
                    a(href='https://www.twitter.com') #[i.fa-brands.fa-twitter]
            .descreption
              h5 marsten bill
              p.sm Prodect Manager
        .col-12.col-md-6.col-xl-4
          .tank.tank-6
            .box-img.rounded-pill
              .social-media
                ul.list-unstyled
                  li 
                    a(href='https://www.facebook.com') #[i.fa-brands.fa-facebook]
                  li 
                    a(href='https://www.instagram.com') #[i.fa-brands.fa-instagram]
                  li
                    a(href='https://www.twitter.com') #[i.fa-brands.fa-twitter]
            .descreption
              h5 Khaled Mabrouki
              p.sm Front-end Developer