link(rel='icon' href='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD71nN_GI_JKIr7n-IVyWWQ0tnqAiNeKlmOw&usqp=CAU')
link(rel='stylesheet' href='../Bootstrap/bootstrap.min.css')
link(rel='stylesheet' href='../Bootstrap/all.min.css')
link(rel='stylesheet' href='/Css/Sass/Main.css')
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")